= form_for(@help_message) do |f|
  .ui.form
    .field
      %label
        = f.label 'Melding'
      .ui.left.labeled.input
        = f.text_field :title, class: 'form-control input-lg'
    .field
      %label
        = f.label 'Details'
      = f.text_area :body, class: 'form-control input-lg'

    - if policy(@alert).assign?
      .field
        %label
          = f.label 'Toewijzen aan'
        = f.select :assignee_id, @assignees.map {|u| [u.full_name, u.id]}, { include_blank: true }, {class: 'chosen-select', "data-placeholder" => 'Selecteer iemand om die op de hoogte te brengen van deze melding' }

    .field
      %label
        = f.label 'Labels (komma tussen elk label)'
      = f.text_field :tag_list, class: 'form-control input-lg'

    .ui.buttons
      = f.submit 'Publiceer melding', class: 'ui positive button'
      = link_to 'Annuleer', (request.referrer || root_path), class: 'ui button'

    - if @alert.created_at
      = link_to 'Verwijder Melding', alert_path(@alert), class: 'ui negative button float-right', method: :delete
