= form_for @participation do |f|
  - if @participation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@participation.errors.count, "error")} prohibited this participation from being saved:"
      %ul
        - @participation.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
