- @active_tab = 'home'

.row
  .large-10.medium-10.small-12.medium-centered.column
    .ui.feed.segment
      %h2.ui.header
        Recente Activiteit

      - @activities.each do |activity|
        .event
          .label
            %i.circular.file.icon
          .content
            .date
              = "#{format_time(activity.created_at)} geleden"
            .summary
              = link_to((activity.owner.full_name if activity.owner), '#')
              = render_activity activity
            - if activity.trackable
              .extra.text
                %h3{ style: "margin-top: 0;" }
                  = activity.trackable.title
                %p
                  = activity.trackable.body
