%h1 Listing announcements

%table
  %tr
    %th Title
    %th Body
    %th Hoa
    %th User
    %th Target group
    %th
    %th
    %th

  - @announcements.each do |announcement|
    %tr
      %td= announcement.title
      %td= announcement.body
      %td= announcement.hoa_id
      %td= announcement.user_id
      %td= announcement.target_group
      %td= link_to 'Show', announcement
      %td= link_to 'Edit', edit_announcement_path(announcement)
      %td= link_to 'Destroy', announcement, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Announcement', new_announcement_path
