.ui.feed.segment
  - if activity.trackable
    .event
      .label
        %i.circular.inverted.blue.calendar.icon
      .content
        .date
          = "#{format_time(activity.created_at)} geleden"
        .summary
          = link_to_activity_owner activity
          heeft
          = link_to 'een agenda item', event_path(activity.trackable)
          aangemaakt:
        .extra.text
          %h2{ style: "margin: 0;" }
            = activity.trackable.title
          %h3{ style: "margin-top: 0;" }
            = format_event_date_time activity.trackable.date
          %p
            = activity.trackable.description
  - else
