.row
  .small-12.small-centered.column

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
      = devise_error_messages!
      .ui.form.segment

        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %div
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        
        .field
          %label
            Nieuw wachtwoord
          .ui.input
            = f.password_field :password, :autocomplete => "off"

        .field
          %label Nieuw wachtwoord (nogmaals)
          .ui.input
            = f.password_field :password_confirmation

        .field
          %label Huidig wachtwoord ter controle
          .ui.input
            = f.password_field :current_password

        = f.submit "Wijzig mijn wachtwoord", class: 'ui positive submit button'
        = link_to "Terug", :back, class: 'ui button'
      / %h3 Cancel my account
      / %p
      /   Unhappy? #{button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete}
