- @flat = true
.row
  .medium-6.medium-centered.column

    %h2 Begin met Domici.ly
    %p We hebben je emailadres nodig om je in te kunnen loggen in Domici.ly. Geen zorgen, je kan Domici.ly rustig uitproberen zonder te betalen.

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      .sign-in
        %label
          Email
        = f.email_field :email, :autofocus => true

        %label Wachtwoord (minimaal 8 karakters)
        = f.password_field :password

        %label
          Wachtwoord nogmaals
        = f.password_field :password_confirmation

        %p
          = check_box_tag 'accept-me'
          Ik ga akkoord met
          %a{href: '#'} de gebruikersverklaring 
          en geef toestemming tot het gebruik van cookies

        = f.submit "Registreer en log in", class: 'flat-button submit-registration'

        / # = render "devise/shared/links"