- @flat = true
.row
  .medium-6.medium-centered.column


    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      = devise_error_messages!
      .sign-in
        %h1.ui.header 
          Stap 1/2
          .sub.header
            Begin met Domici.ly
        %label
          Email
        = f.email_field :email, :autofocus => true

        %label Wachtwoord (minimaal 8 karakters)
        = f.password_field :password

        %label
          Wachtwoord nogmaals
        = f.password_field :password_confirmation

        %p
          = check_box_tag 'accept-me'
          Ik ga akkoord met
          %a#gebruikersverklaring de gebruikersverklaring 
          en geef toestemming tot het gebruik van cookies

        = f.submit "Schrijf in", class: 'flat-button submit-registration'

        / # = render "devise/shared/links"

.ui.modal
  %i.close.icon
  .header Gebruikersverklaring Domici.ly
  .content
    = render 'devise/shared/gebruikersverklaring'
