<h1>Listing hoas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hoas.each do |hoa| %>
      <tr>
        <td><%= hoa.name %></td>
        <td><%= link_to 'Show', hoa %></td>
        <td><%= link_to 'Edit', edit_hoa_path(hoa) %></td>
        <td><%= link_to 'Destroy', hoa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hoa', new_hoa_path %>
