- @active_tab     = 'home'
- @active_button  = 'members'

.row
  = render 'dashboard/sidebuttons'

  .small-10.column

    .ui.raised.segment
      - if current_user.has_role?(:moderator, current_user.hoa) or current_user.admin
        = link_to new_user_invitation_path, id: 'new-member' do
          .ui.labeled.mini.icon.button
            %i.add.icon
            Nieuwe Leden

        %br
        %br

      - if ! @moderators.empty?
        .ui.green.ribbon.label
          Bestuurders
        = render 'member_list', members: @moderators

      - if ! @maintenance_staff.empty?
        %br
        .ui.blue.ribbon.label
          Huismeesters
        = render 'member_list', members: @maintenance_staff

      - if ! @owners.empty?
        %br
        .ui.teal.ribbon.label
          Eigenaars
        = render 'member_list', members: @owners
