- @active_button  = 'members'

.row
  .small-12.column
    - if current_user.has_role?(:moderator, current_user.hoa) or current_user.admin
      = link_to new_user_invitation_path, id: 'new-member' do
        .ui.blue.domicily-blue.labeled.icon.button
          %i.add.icon
          Nieuwe Leden

      .float-right
        = link_to settings_path, id: 'settings' do
          .ui.labeled.icon.button
            %i.settings.icon
            Domici.ly Opties

        = link_to billing_path, id: 'billing' do
          .ui.labeled.icon.button
            %i.payment.icon
            Betalingen

    .ui.raised.segment
      - if ! @moderators.empty?
        .ui.green.ribbon.label
          Bestuurders
        = render 'member_list', members: @moderators

      - if ! @maintenance_staff.empty?
        %br
        .ui.blue.ribbon.label
          Huismeesters
        = render 'member_list', members: @maintenance_staff

      - if ! @owners.empty?
        %br
        .ui.teal.ribbon.label
          Eigenaars
        = render 'member_list', members: @owners
