- @active_tab = 'hoa'

.row
  .medium-12.small-12.medium-centered.column
    .ui.raised.segment
      %h1.ui.blue.header
        %i.users.icon
        .content
          = current_user.hoa_name
          .sub.header
            = "#{current_user.hoa.users.count} leden"

      .ui.horizontal.segment
        - if current_user.has_role?(:moderator, current_user.hoa) or current_user.admin
          = link_to new_user_invitation_path, id: 'new-member' do
            .ui.labeled.mini.icon.button
              %i.add.icon
              Nieuw Lid

      %br

      .ui.teal.ribbon.label
        Bestuurders

      %br
      %br

      - @moderators.each do |moderator|
        = link_to user_path(moderator), class:  'ui circular image dimmable' do
          .ui.dimmer
            .content
              .center
                = moderator.full_name
          %img{ src: "#{big_gravatar moderator, 120}"}

      %br
      %br

      .ui.blue.ribbon.label
        Huismeesters

      %br
      %br

      .ui.green.ribbon.label
        Eigenaars

      .ui.celled.small.selection.list
        - @owners.each do |owner|
          .item.hover-show
            %img.ui.avatar.image{ src: gravatar_url(owner) }
            = link_to user_path(owner), class: 'content' do
              .header= owner.full_name
              .description= owner.email
            = link_to remove_from_hoa_path(owner), method: :post, class: 'right floated tiny teal ui button hover-display', id: "remove-#{owner.id}" do
              Verwijder uit VvE
