- @active_tab = 'hoa'

.row
  .small-2.column.side-buttons
    .ui.vertical.labeled.icon.menu

      %a.red.item
        %i.users.icon
        Leden

      %a.green.item
        %i.payment.icon
        Facturatie

      %a.teal.item
        %i.settings.icon
        Opties


  .small-7.column
    .ui.raised.segment
      %h1.ui.blue.header
        %i.users.icon
        .content
          = current_user.hoa_name
          .sub.header
            = "#{current_user.hoa.users.count} leden"

      .ui.horizontal.segment
        - if current_user.has_role?(:moderator, current_user.hoa) or current_user.admin
          = link_to new_user_invitation_path, id: 'new-member' do
            .ui.labeled.mini.icon.button
              %i.add.icon
              Nieuwe Leden

    - @activities.each do |activity|
      = render_activity activity
    
    / .ui.raised.segment
    /   = render 'hoas/members'

  .small-3.column
    .ui.small.fluid.vertical.menu
      .header.item
        Test

      .item
        Hallo
