- @active_tab = 'hoa'

.row
  .large-10.medium-10.small-12.medium-centered.column
    .ui.raised.segment
      %h1.ui.blue.header
        %i.users.icon
        .content
          = current_user.hoa_name
          .sub.header
            = "#{current_user.hoa.users.count} leden"

      .ui.horizontal.segment
        - if current_user.has_role? :moderator, current_user.hoa
          = link_to new_user_invitation_path, id: 'new-member' do
            .ui.labeled.mini.icon.button
              %i.add.icon
              Nieuw Lid

      %br

      .ui.teal.ribbon.label
        Bestuurders

      %br
      %br

      - @moderators.each do |moderator|
        .ui.circular.image.dimmable
          .ui.dimmer
            .content
              .center
                = moderator.full_name
          %img{ src: 'http://semantic-ui.com/images/demo/photo2.jpg'}

      %br
      %br

      .ui.blue.ribbon.label
        Huismeesters

      %br
      %br

      .ui.green.ribbon.label
        Eigenaars

      .ui.celled.small.selection.list
        - @owners.each do |owner|
          .item
            %img.ui.avatar.image{ src: 'http://semantic-ui.com/images/demo/avatar2.jpg' }
            .content
              .header= owner.full_name
              .description= owner.email
