.row
  .large-10.medium-10.small-12.medium-centered.column
    .row
      .small-12.column
        .ui.raised.segment
          %h2.ui.black.header
            / %i.circular.user.icon
            %img.circular.ui.image{src: "#{gravatar_url(@user)}"}
            .content
              = @user.full_name
              .sub.header
                = "#{pretty_role(@user)} in #{@user.hoa_name}"

          %br

          .ui.teal.ribbon.label
            Gegevens
          %p
            = render 'profile/personal_info', user: @user


          %br

          .ui.orange.ribbon.label
            Meldingen van
            = @user.name


          .ui.tabular.menu
            %a.item{href: '#tab1'} 
              Aangemaakt door
              = @user.name
              .ui.label
                = @alerts.count
            %a.item{href: '#tab2'} 
              Toegewezen aan
              = @user.name
              .ui.label
                = @assigned_alerts.count

          #tabs
            .tab#tab1
              = render 'alerts/table', alerts: @alerts

            .tab#tab2
              = render 'alerts/table', alerts: @assigned_alerts
