- @flat = true
.row
  .medium-6.medium-centered.column

    %h2 Wachtwoord vergeten?
    = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
      = devise_error_messages!
      .sign-in
        = f.label :email
        = f.email_field :email, :autofocus => true
        = f.submit "Stuur me instructies om mijn wachtwoord te veranderen", class: 'flat-button'
