.sub.header
  %p
  .ui.segment
    .ui.horizontal.selection.divided.list
      .item
        .content
          .header Datum
          = format_event_date event.date


      .item
        .content
          .header Tijd
          = format_event_time event.date

      .item
        .ui.avatar.image
          = image_tag gravatar_url event.user
        .content
          .header Aangemaakt door
          = event.user.full_name if event.user

      / .item
      /   .content
      /     .header Genodigden
      /     Iedereen

      .item.toggle-sidebar
        .content
          .header Aanwezig
          = @participations.count

      .item
        .content
          .header Locatie
          = ! event.location.blank? ? event.location : 'Niet gespecificeerd'
