= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .ui.form
    .three.fields
      .field
        %label
          = f.label 'Datum'
        %input{ type: :text, id: 'datepicker', name: 'event[date]'}

      .field
        %label
          = f.label 'Uren'
        %input{ type: :text, id: 'event_hour', name: 'event[hour]'}

      .field
        %label
          = f.label 'Minuten'
        %input{ type: :text, id: 'event_min', name: 'event[min]'}

    .field
      = f.label 'Afspraak naam'
      = f.text_field :name
    .field
      = f.label 'Locatie'
      = f.text_field :location
    .actions
      = f.submit 'Save', class: 'ui positive button'

