= form_for @event do |f|
  - if @event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .ui.form
    
    .field
      = f.label 'Afspraak naam'
      .ui.left.icon.input
        = f.text_field :name
        %i.tag.icon

    .three.fields
      .field
        %label
          = f.label 'Datum'
        .ui.left.icon.input
          %input{ type: :text, id: 'datepicker', name: 'event[date]', value: @date}
          %i.calendar.icon

      .field
        %label
          = f.label 'Uren'
        .ui.left.icon.input
          %input{ type: :text, id: 'event_hour', name: 'event[hour]', value: @hour}
          %i.time.icon

      .field
        %label
          = f.label 'Minuten'
        .ui.left.icon.input
          %input{ type: :text, id: 'event_min', name: 'event[min]', value: @min}
          %i.time.icon

    .field
      = f.label 'Locatie'
      .ui.left.icon.input
        = f.text_field :location
        %i.map.marker.icon

    .field
      = f.label 'Beschrijving'
      = f.text_area :description

    .field
      = f.label 'Genodigden'
    
    .grouped.inline.fields

      .field
        .ui.radio.checkbox
          = radio_button_tag :invitees, 'everyone', true
          %label
        %label Iedereen

      .field
        .ui.radio.checkbox
          = radio_button_tag :invitees, 'moderators'
          %label
        %label Bestuurders

    .actions
      = f.submit 'Afspraak opslaan', class: 'ui positive button'
      = link_to 'Annuleren', (request.referrer || events_path), class: 'ui button'
