.row
  .small-12.medium-12.medium-centered.column

    .ui.segment.bottom.attached
      %h1.ui.header
        .float-right
          - if policy(@event).update?
            = link_to 'Aanpassen', edit_event_path(@event), class: 'ui basic button'
        = @event.title
        = render 'events/details', event: @event
      = render 'events/presence', participation: @participation

      %p
        = @event.description

    = render 'comments/standard', comment: Comment.new(user: current_user), resource: @event

.ui.right.thin.styled.inverted.red.vertical.menu.presence.sidebar
  .header.item
    Aanwezigen
  - unless @participations.empty?
    - @participations.each do |p|
      .item
        = link_to p.user.full_name, user_path(p.user)
  - else
    Uhhh
