.row
  .small-12.medium-10.medium-centered.column

    .ui.segment.bottom.attached
      %h1.ui.header
        .float-right
          - if policy(@event).update?
            = link_to 'Aanpassen', edit_event_path(@event), class: 'ui basic button'
        = @event.name

        .ui.divider

        .sub.header

          .ui.horizontal.divided.list
            .item
              .content
                .header Tijd
                = format_date_time @event.date

            .item
              .ui.avatar.image
              .content
                .header Aangemaakt door
                = @event.user.full_name

            .item
              .content
                .header Genodigden
                Alleen bestuurders

            .item
              .content
                .header Aanwezig
                3 / 5

            .item
              .content
                .header Locatie
                Thuis


          / = format_date_time @event.date
          / %br
          / = @event.location

      .ui.divider
      %p
        Beschrijving hier

    = render 'comments/standard', comment: Comment.new(user: current_user), resource: @event
