.row
  .small-12.medium-12.medium-centered.column

    .ui.segment.bottom.attached
      %h1.ui.header
        .float-right
          - if policy(@event).update?
            = link_to 'Aanpassen', edit_event_path(@event), class: 'ui basic button'
        = @event.title
        = render 'events/details', event: @event
      = render 'events/presence', participation: @participation

      %p
        = @event.description

    = render 'comments/standard', comment: Comment.new(user: current_user), resource: @event

.ui.right.styled.inverted.green.vertical.menu.presence.sidebar.disable-sidebar

  - unless @people_present.empty?
    .header.item
      = "Aanwezigen (#{@people_present.count})"
    - @people_present.each do |p|
      .item
        .ui.avatar.image
          = image_tag gravatar_url p.user
        = link_to p.user.full_name, user_path(p.user)

  - unless @people_absent.empty?
    .header.item
      = "Afgemeld (#{@people_absent.count})"

    - @people_absent.each do |a|
      .item
        = link_to a.user.full_name, user_path(a.user)

  .header.item
    = "Geen bericht: #{@no_status}"
