.ui.styled.sidebar
  - if @collaboration
    = link_to alert_collaboration_path(@alert, @collaboration), method: :delete, class: ' ui black fluid button' do
      Stop deelname

  - else
    = link_to alert_collaborations_path(@alert, @new_collaboration, collaboration: {user_id: current_user.id, collaborable_type: @alert.class, collaborable_id: @alert.id}), method: :post, class: 'ui positive fluid button' do
      Volg melding
  
  .ui.message
    Deelnemers worden op de hoogte gehouden van de status van deze melding.

  = form_for [@alert, @alert.collaborations.new], method: :post do |f|
    .ui.form
      .field
        %label
          Voeg een deelnemer toe
        = f.hidden_field :collaborable_type, value: @alert.class
        = f.hidden_field :collaborable_id,   value: @alert.id

        = f.select :user_id, @users.map {|u| [u.full_name, u.id]}, { include_blank: true }, {class: 'chosen-select', "data-placeholder" => 'Kies een deelnemer', "onchange" => "this.form.submit()" }

  .ui.menu
    .item.header
      = "Deelnemers (#{@collaborations.count})"

    - @collaborations.each do |collaboration|
      .item
        .ui.avatar.image
          = image_tag gravatar_url collaboration.user
        = link_to collaboration.user.full_name, user_path(collaboration.user)


