= form_for(@alert) do |f|
  - if @alert.errors.any?
    #error_explanation
      %h2
        = pluralize(@alert.errors.count, "error")
        prohibited this alert from being saved:
      %ul
        - @alert.errors.full_messages.each do |msg|
          %li= msg
  .ui.form
    .field
      %label
        = f.label 'Melding'
      .ui.left.labeled.input
        = f.text_field :title, class: 'form-control input-lg'
    .field
      %label
        = f.label 'Details'
      = f.text_area :body, class: 'form-control input-lg'

    .field
      %label
        = f.label 'Toewijzen aan'
      = f.select :assignee_id, @assignees.map {|u| [u.full_name, u.id]}, { include_blank: true }, {class: 'chosen-select', "data-placeholder" => 'Selecteer iemand om die op de hoogte te brengen van deze melding' }

    .ui.buttons
      = f.submit 'Publiceer melding', class: 'ui positive button'
      = link_to 'Annuleer', (request.referrer || root_path), class: 'ui button'

    - if @alert.created_at
      = link_to 'Verwijder Melding', alert_path(@alert), class: 'ui negative button float-right', method: :delete
