= form_for(@alert) do |f|
  - if @alert.errors.any?
    #error_explanation
      %h2
        = pluralize(@alert.errors.count, "error")
        prohibited this alert from being saved:
      %ul
        - @alert.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label 'Melding'
    = f.text_field :title, class: 'form-control input-lg'
  .form-group
    = f.label 'Details'
    = f.text_area :body, class: 'form-control input-lg'
  .form-group
    = f.label 'Ernst'
    = f.select :severity, [['Hoog','high'], ['Middel','medium'], ['Laag','low']], {}, class: 'form-control'
  .actions
    = f.submit 'Publiceer melding', class: 'btn btn-primary btn-lg btn-block'
