.ui.three.steps
  = link_to  'Nieuw', alert_path(alert, alert: { progress: "new" }), method: :patch, class: "state-toggle ui step #{'active' if alert.new?}", remote: true

  = link_to  'In behandeling', alert_path(alert, alert: { progress: "in progress" }), method: :patch, class: "state-toggle ui step #{'active' if alert.in_progress?}", remote: true
  
  = link_to  'Klaar', alert_path(alert, alert: { progress: "completed" }), method: :patch, class: "state-toggle ui step #{'active' if alert.completed?}", remote: true
