.ui.divided.selection.list.alert-list
  - alerts.each do |alert|
    %li.item.listed-alert{ class: "#{'item listed-alert unread' if alert.unread?(current_user)}"}

      .state
        = render 'alerts/state_label', alert: alert

      .title
        = link_to alert.title, alert


      .assignee.assignedfil
        = print_assignee_short alert

      .info
        .taglist.tagfil
          - alert.tag_list.each do |tag|
            .ui.tiny.label
              = tag

        .updated_at{ "data-content" => "#{alert.updated_at}", "data-variation" => 'small inverted' }
          = "Laatste update #{format_time(alert.updated_at)} geleden"

        .timestamp-hidden
          = alert.updated_at.to_i

        .ownedfil
          = alert.user.first_name


      - if policy(alert).update?
        .ui.tiny.basic.buttons
          = link_to 'Aanpassen', edit_alert_path(alert), class: 'ui button'
          .ui.tiny.blue.floating.dropdown.icon.button
            %i.dropdown.icon
            .menu
              .item
                = link_to 'Verwijder', alert, method: :delete, data: { confirm: 'Weet je zeker dat je deze melding wilt verwijderen?' }
