.ui.divided.selection.list.alert-list
  - alerts.each do |alert|
    %li.item{ class: "#{'positive item' if alert.unread?(current_user)}"}
      .state
        = render 'alerts/state_label', alert: alert

      .title
        = link_to alert.title, alert

      .assignee
        = print_assignee alert

      .updated_at
        = "Laatste update #{format_time(alert.updated_at)} geleden"

      .ui.tiny.blue.buttons
        = link_to 'Aanpassen', edit_alert_path(alert), class: 'ui button'
        .ui.tiny.blue.floating.dropdown.icon.button
          %i.dropdown.icon
          .menu
            .item
              = link_to 'Verwijder', alert, method: :delete, data: { confirm: 'Weet je zeker dat je deze melding wilt verwijderen?' }
