.ui.divided.selection.list.alert-list
  - alerts.each do |alert|
    %li.item.listed-alert
      .state
        = render 'alerts/state_label', alert: alert

      .title
        = link_to alert.title, alert


      .assignee
        = print_assignee_short alert
      / .read-status
      /   - if alert.unread?(current_user)
      /     ongelezen

      .info
        .taglist
          - alert.tag_list.each do |tag|
            .ui.tiny.label
              = tag

        .updated_at
          = "Laatste update #{format_time(alert.updated_at)} geleden"


      - if policy(alert).update?
        .ui.tiny.basic.buttons
          = link_to 'Aanpassen', edit_alert_path(alert), class: 'ui button'
          .ui.tiny.blue.floating.dropdown.icon.button
            %i.dropdown.icon
            .menu
              .item
                = link_to 'Verwijder', alert, method: :delete, data: { confirm: 'Weet je zeker dat je deze melding wilt verwijderen?' }
