%table.ui.small.compact.basic.table.segment
  %thead
    %tr
      %th.sort{ "data-sort" => "state"} Status
      %th.sort{ "data-sort" => "title"} Melding
      %th.sort{ "data-sort" => "assignee"} Toegewezen aan
      %th.sort{ "data-sort" => "updated_at"} Laatste aanpassing
      %th Acties

  %tbody.list
    - alerts.each do |alert|
      %tr{ class: "#{'positive' if alert.unread?(current_user)}"}
        %td.state
          = render 'alerts/state_label', alert: alert

        %td.title
          = link_to alert.title, alert

        %td.assignee
          = print_assignee alert

        %td.updated_at
          = "#{format_time(alert.updated_at)} geleden"

        %td.right
          = link_to edit_alert_path(alert) do
            %i.black.ellipsis.horizontal.icon
          = link_to alert, method: :delete, data: { confirm: 'Weet je zeker dat je deze melding wilt verwijderen?' } do
            %i.black.remove.icon

