- @active_tab = 'alerts'
- @quick_add_bar = true
.row
  .medium-2.column
    .ui.small.fluid.vertical.menu
      .header.item
        %i.user.icon
        = current_user.first_name
      %a.item.ownedfilter.assignedfilter.active{ "data-filter" => "" } Alles
      %a.item.ownedfilter{ "data-filter" => "#{current_user.first_name}" } Aangemaakt
      %a.item.assignedfilter{ "data-filter" => "#{current_user.first_name}" } Toegewezen
      %a.item.assignedfilter{ "data-filter" => "niet toegewezen" }
        Niet toegewezen

    .ui.small.fluid.vertical.menu
      .header.item
        %i.list.layout.icon
        Status
      %a.item.filter.active{ "data-filter" => "" } Alles
      %a.item.filter{ "data-filter" => "nieuw" } Nieuw
      %a.item.filter{ "data-filter" => "in behandeling" } In behandeling
      %a.item.filter{ "data-filter" => "klaar" } Klaar

    - if @alerts.tag_counts
      .ui.small.fluid.vertical.menu
        .header.item
          %i.tags.icon
          Labels
        %a.item.tagfilter.active{ "data-filter" => ""} Alle labels
        - @alerts.tag_counts.order('taggings_count DESC').each do |tag|
          %a.item.tagfilter{ "data-filter" => "#{tag.name}"}
            .ui.label= tag.taggings_count
            = truncate(tag.name, length: 14)

  .medium-10.column#alerts-table
    .ui.icon.input.alert-search
      %input.search{ placeholder: 'Zoek op melding..' }
      %i.inverted.search.icon

    - unless @archived
      = link_to alerts_path(archive: true), class: 'ui labeled icon button float-right' do
        %i.archive.icon
        Archief
    - else
      = link_to alerts_path, class: 'ui labeled icon button float-right' do
        %i.list.icon
        Verlaat archief

    .ui.top.attached.segment

      .ui.selection.dropdown
        .text Sorteer op..
        %i.dropdown.icon
        .menu
          .item.sort{ "data-sort" => "timestamp-hidden" } Laatste Update
          .item.sort{ "data-sort" => "assignee" } Toegewezen
          .item.sort{ "data-sort" => "state" } Status

      .ui.selection.dropdown
        .text Aflopend
        %i.dropdown.icon
        .menu
          .item.sortorder{ "data-sort" => "desc" } Aflopend
          .item.sortorder{ "data-sort" => "asc" } Oplopend

      - if current_user.has_role?(:moderator, current_hoa) && ! @archived
        = link_to archive_all_alerts_path(alert_ids: @alerts.collect{ |a| a.id } ), data: { confirm: 'Weet je zeker dat je alles wilt archiveren dat op klaar staat?' }, method: :patch, class: 'ui basic animated button float-right' do
          .visible.content
            Archiveer alles op klaar
          .hidden.content
            %i.forward.icon

    .ui.attached.segment
      = render 'alerts/table', alerts: @alerts
