- @active_tab = 'alerts'
.row
  .large-10.medium-10.small-12.medium-centered.column

    .ui.segment

      = link_to 'Nieuwe Melding', new_alert_path, class: 'ui button'

      .ui.divider

      .ui.tabular.menu
        %a.item{href: '#tab1'} 
          Alle
          .ui.label
            = @alerts.count
        %a.item{href: '#tab2'} 
          Nieuw
          .ui.green.label
            = @new_alerts.count
        %a.item{href: '#tab3'}
          Aangemaakt
          .ui.blue.label
            = @my_alerts.count
        %a.item{href: '#tab4'}
          Toegewezen
          .ui.red.label
            = @assigned_to_me.count


      #tabs
        .tab#tab1
          = render 'alerts/table', alerts: @alerts

        .tab#tab2
          = render 'alerts/table', alerts: @new_alerts

        .tab#tab3
          = render 'alerts/table', alerts: @my_alerts

        .tab#tab4
          = render 'alerts/table', alerts: @assigned_to_me
