.row
  .small-12.medium-10.medium-centered.column

    = render 'alerts/show_top', alert: @alert

    .ui.bottom.attached.segment
      %h1.ui.header
        .float-right
          - if policy(@alert).update?
            = link_to 'Aanpassen', edit_alert_path(@alert), class: 'ui basic button'

        = @alert.title
        .sub.header
          .ui.relaxed.selection.horizontal.list
            .item
              .ui.avatar.image
              .content
                .header Melding door
                = @alert.user.full_name

            .item
              .ui.avatar.image
              .content
                .header Toegewezen aan
                Piet van Vliet

            .item
              .content
                .header Melding aangemaakt
                = "#{format_time(@alert.created_at)} geleden"    
            

        / .ui.divider


      %p.alert
        = @alert.body
