.row
  .small-12.medium-8.medium-centered.column

    = notice

    %br

    %h1.ui.header
      = @alert.title
      .sub.header
        = "Geplaatst door #{@alert.user.name}"

    %p.alert
      = @alert.body

      
      .ui.buttons
        = link_to 'Aanpassen', edit_alert_path(@alert), class: 'ui blue button'
        = link_to 'Terug', root_path, class: 'ui button'
