.container
  .col-md-6.centered
    = notice

    .page-header
      %h1 
        = @alert.title

      %p
        = @alert.body

    = link_to 'Edit', edit_alert_path(@alert)
    = link_to 'Back', root_path
