.row
  .small-12.medium-12.medium-centered.column

    = render 'alerts/show_top', alert: @alert

    .ui.segment
      %h1.ui.header
        .float-right
          - if policy(@alert).update?
            = link_to 'Aanpassen', edit_alert_path(@alert), class: 'ui basic button'

        = @alert.title


        .sub.header
          %p
          .ui.segment
            .ui.selection.horizontal.list
              .item
                .ui.avatar.image
                  = image_tag gravatar_url @alert.user
                .content
                  .header Melding door
                  = link_to @alert.user.full_name, user_path(@alert.user)

              .item
                .ui.avatar.image
                  - if @alert.assignee
                    = image_tag gravatar_url @alert.assignee
                .content
                  .header Toegewezen aan
                  - if @alert.assignee
                    = link_to "#{print_assignee @alert}", user_path(@alert.assignee)
                  - else
                    = print_assignee @alert

              .item
                .content
                  .header Melding aangemaakt
                  = "#{format_time(@alert.created_at)} geleden"    
              

              .item.toggle-sidebar
                .content
                  .header Deelnemers
                  = "#{@alert.collaborations.count} (klik voor details)"

          - @alert.tags.each do |tag|
            .ui.label
              = tag.name
              = link_to alert_remove_tag_path(@alert, id: @alert.id, tag: tag.name), method: :post do
                %i.delete.icon

      .alert-body
        = simple_format @alert.body

    = render 'comments/standard', comment: @comment, resource: @alert

.ui.styled.sidebar.disable-sidebar
  
  .ui.menu
    .item.header
      = "Deelnemers (#{@alert.collaborations.count})"

    - @alert.collaborations.includes(:user).each do |collaboration|
      .item
        .ui.avatar.image
          = image_tag gravatar_url collaboration.user
        = link_to collaboration.user.full_name, user_path(collaboration.user)

  - if @collaboration
    = link_to alert_collaboration_path(@alert, @collaboration), method: :delete, class: ' ui black fluid button' do
      Stop deelname

  - else
    = link_to alert_collaborations_path(@alert, @new_collaboration, collaborable_type: @alert.class, collaborable_id: @alert.id), method: :post, class: 'ui positive fluid button' do
      Volg melding
