.row
  .small-12.medium-10.medium-centered.column

    = render 'alerts/show_top', alert: @alert

    .ui.segment
      %h1.ui.header
        .float-right
          - if policy(@alert).update?
            = link_to 'Aanpassen', edit_alert_path(@alert), class: 'ui basic button'

        = @alert.title

        .ui.divider

        .sub.header
          .ui.relaxed.selection.horizontal.list
            .item
              .ui.avatar.image
                / = image_tag gravatar_url @alert.user
              .content
                .header Melding door
                = link_to @alert.user.full_name, user_path(@alert.user)

            .item
              .ui.avatar.image
                - if @alert.assignee
                  / = image_tag gravatar_url @alert.assignee
              .content
                .header Toegewezen aan
                - if @alert.assignee
                  = link_to "#{print_assignee @alert}", user_path(@alert.assignee)
                - else
                  = print_assignee @alert

            .item
              .content
                .header Melding aangemaakt
                = "#{format_time(@alert.created_at)} geleden"    
            


      %p
        - @alert.tags.each do |tag|
          .ui.label
            = tag.name
            = link_to alert_remove_tag_path(@alert, id: @alert.id, tag: tag.name), method: :post do
              %i.delete.icon

      .ui.divider
      %p.alert
        = @alert.body

    = render 'comments/standard', comment: @comment, resource: @alert
