.row
  .medium-8.column

    = render 'alerts/show_top', alert: @alert

    .ui.segment
      %h2.ui.header
        = inline_edit @alert, :title

      .alert-body
        = inline_edit(@alert, :body, 'textarea')

      - if @alert_attachments
        .ui.small.selection.list
          - @alert_attachments.each do |a|
            .item
              .right.floated.mini.ui.button
                Verwijder attachment
              = link_to a.name, a.attachment_url

    - @alert.tags.each do |tag|
      .ui.label
        = tag.name
        = link_to alert_remove_tag_path(@alert, id: @alert.id, tag: tag.name), method: :post do
          %i.delete.icon

    = render 'comments/standard', comment: @comment, resource: @alert

  .medium-4.column
    = render 'alerts/side'


= render 'alerts/attendence_sidebar'
