- @flat = true
.row
  .medium-5.medium-centered.column

    .logo
      %h1
        Domici.ly

    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .sign-in
        %label
          Email
        = f.email_field :email, :autofocus => true

        %label
          Wachtwoord
        = f.password_field :password

        .ui.switch.checkbox
          = f.check_box :remember_me, class: 'ui checkbox'
          = f.label 'Onthoud mij'

        %br
        %br

        = f.submit "Log in", class: 'submit'

        = render "devise/shared/links"
