- @flat = true
.row
  .medium-8.medium-centered.column

    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .ui.form.segment
        .field
          %label
            Email
          .ui.left.labeled.icon.input
            = f.email_field :email, :autofocus => true
            %i.user.icon

        .field
          %label
            Wachtwoord
          .ui.left.labeled.icon.input
            = f.password_field :password
            %i.icon.lock

        .ui.switch.checkbox
          = f.check_box :remember_me, class: 'ui checkbox'
          = f.label :remember_me

        %br
        %br

        = f.submit "Log in", class: 'ui blue submit button'

        = render "devise/shared/links"
