%h2 Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .ui.form.segment
    .field
      %label
        Email
      .ui.left.labeled.icon.input
        = f.email_field :email, :autofocus => true
        %i.user.icon
        .ui.corner.label
          %i.icon.asterisk
    .field
      %label
        Wachtwoord
      .ui.left.labeled.icon.input
        = f.password_field :password
        %i.icon.lock
        .ui.corner.label
          %i.icon.asterisk


    - if devise_mapping.rememberable?
      .ui.toggle.checkbox
        = f.check_box :remember_me, class: 'ui checkbox'
        = f.label :remember_me

      %br
      %br

    = f.submit "Log in", class: 'ui blue submit button'

    .ui.message
      = render "devise/shared/links"
