.row
  .medium-12.small-12.medium-centered.column
    .ui.segment

      %h2 Stel een wachtwoord in voor uw account in Domici.ly
      = form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
        = devise_error_messages!
        = f.hidden_field :invitation_token
        .ui.form
          .field
            %label
              = f.label :password
            .ui.input
              = f.password_field :password
          .field
            %label
              = f.label :password_confirmation
            .ui.input
              = f.password_field :password_confirmation

          .ui.buttons
            = f.submit t("devise.invitations.edit.submit_button"), class: 'ui success button'
