- if activity.trackable
  .event
    .label
      %i.circular.red.flag.icon
    .content
      .date
        = "#{format_time(activity.created_at)} geleden"
      .summary
        = link_to((activity.owner.full_name if activity.owner), '#')
        heeft de volgende melding aangemaakt:
      .extra.text
        %h3{ style: "margin-top: 0;" }
          = activity.trackable.title
        %p
          = activity.trackable.body
- else
  /iets anders hier
