- if activity.trackable && policy(activity.trackable).show?
  .ui.feed.segment
    .event
      .label
        %i.circular.inverted.black.flag.icon
      .content
        .date
          = "#{format_time(activity.created_at)} geleden"
        .summary
          = link_to((activity.owner.full_name if activity.owner), '#')
          heeft
          = link_to activity.trackable.title, alert_path(activity.trackable)
          aangepast.
  - else
    / .event
    /   .label
    /     %i.circular.inverted.black.flag.icon
    /   .content
    /     .date
    /       = "#{format_time(activity.created_at)} geleden"
    /     .summary
    /       = link_to((activity.owner.full_name if activity.owner), '#')
    /       heeft
    /       / = link_to activity.trackable.title, alert_path(activity.trackable)
    /       / aangepast.
