- if activity.trackable && activity.trackable.commentable
  - if ( activity.trackable.commentable.instance_of?(Alert) || activity.trackable.commentable.instance_of?(Event) ) && policy(activity.trackable.commentable).show?
    .ui.top.attached.segment.alert-feed-top
      = link_to_activity_owner activity
      heeft bij
      - if activity.trackable.commentable.instance_of?(Alert)
        = link_to alert_path(activity.trackable.commentable) do
          = truncate(activity.trackable.commentable.title, length: 35)
      - elsif activity.trackable.commentable.instance_of?(Event)
        = link_to event_path(activity.trackable.commentable) do
          = truncate(activity.trackable.commentable.title, length: 35)

      een reactie geplaatst.

    .ui.small.attached.segment
      = activity.trackable.comment

    .ui.tiny.secondary.bottom.attached.segment.alert-feed-actions
      .ui.tiny.horizontal.link.list
        - if activity.trackable.commentable.instance_of?(Alert)
          = link_to 'Bekijk melding', alert_path(activity.trackable.commentable), class: 'item'
        - elsif activity.trackable.commentable.instance_of?(Event)
          = link_to 'Bekijk afspraak', event_path(activity.trackable.commentable), class: 'item'
      .date-right
        = "#{format_time(activity.created_at)} geleden"

- else
  /iets anders hier
