%h1 Domici.ly Melding toegewezen

- if @assigner == @assignee
  %p= "#{@assignee.name}, je hebt jezelf een melding toegewezen:"
- else
  %p= "#{@assignee.name}, je bent een melding toegewezen door #{@assigner.name}:"

%h2
  = @alert.title

%p
  = @alert.body

%p
  = link_to 'Klik hier', alert_path(@alert)
  om de melding te bekijken in Domici.ly
