%p Domici.ly Melding toegewezen

- if @assigner == @assignee
  %p= "#{@assignee.name}, je hebt jezelf een melding toegewezen:"
- else
  %p= "#{@assignee.name}, een melding is door #{@assigner.name} aan je toegewezen:"

%p
  %b
    = @alert.title

%p
  = @alert.body

%p
  = link_to 'Klik hier', alert_url(@alert)
  om de melding te bekijken in Domici.ly
