- @active_tab = 'hoa'

.row
  .medium-12.small-12.medium-centered.column
    .ui.segment
      %h1.ui.header
        .content
          = "Nodig nieuw lid uit voor #{current_user.hoa_name}"
        .sub.header
          Voor meerdere leden, een email adres per regel.
      .ui.form
        = form_for resource, :as => resource_name, :url => user_invitation_path, :html => {:method => :post} do |f|
          = devise_error_messages!
          .field
            %label
              = f.label 'Emailadres'
            .ui.input
              = text_area_tag :emails

          .field
            %label
              = f.label 'Welke rol krijgt deze persoon?'
          
          .grouped.inline.fields
            .field
              .ui.radio.checkbox
                = radio_button_tag :role, 'user', true
                %label
              %label Eigenaar

            .field
              .ui.radio.checkbox
                = radio_button_tag :role, 'moderator'
                %label
              %label Bestuurder

            .field
              .ui.radio.checkbox
                = radio_button_tag :role, 'maintenance'
                %label
              %label Huismeester

          %br
          .ui.buttons
            = f.submit 'Verstuur uitnodiging', class: 'ui positive button', method: :post
            = link_to 'Annuleer', organisation_path, class: 'ui button'
