.row
  .small-12.column
    .ui.message
      Als je iets wilt aanpassen, klik dan op het betreffende veld.
    .ui.selection.list
      .item
        .content
          .header Voornaam
          .description
            = inline_edit user, :first_name

      .item
        .content
          .header Achternaam
          .description
            = inline_edit user, :last_name

      .item
        .content
          .header Email
          .description
            = inline_edit user, :email

      .item
        .content
          .header Vereniging
          .description
            = user.hoa_name

      .item
        .content
          .header Rol
          .description
            = pretty_role user

      .item
        .content
          .header Adres
          .description
            = inline_edit user, :address

      .item
        .content
          .header Huisnummer
          .description
            = inline_edit user, :house_number

      .item
        .content
          .header Postcode
          .description
            = inline_edit user, :postal_code

      .item
        .content
          .header Stad
          .description
            = inline_edit user, :city
      .item
        .content
          .header Telefoon
          .description
            = inline_edit user, :phone_number
