- @active_tab = 'profile'
.row
  .large-10.medium-10.small-12.medium-centered.column
    .row
      .small-12.column
        .ui.raised.segment
          %h2.ui.black.header
            %i.circular.user.icon
            .content
              = current_user.full_name
              .sub.header
                = "#{pretty_role} in #{current_user.hoa_name}"

            = link_to "Pas mijn gegevens aan", edit_profile_path, class: 'ui positive button', style: "float: right; position: relative; top: -45px;"

          %br

          .ui.teal.ribbon.label
            Mijn gegevens
          %p
            = render 'personal_info'


          %br

          .ui.orange.ribbon.label
            Mijn meldingen  
          = render 'alerts/table', alerts: current_user.alerts
