- @active_tab = 'profile'
.row
  .large-10.medium-10.small-12.medium-centered.column
    .row
      .small-12.column
        .ui.raised.segment
          %h2.ui.black.header
            %i.user.icon
            .content
              = current_user.full_name
              .sub.header
                - if current_user.has_role? :moderator, current_user.hoa
                  = "Bestuurslid in #{current_user.hoa_name}"
                - else
                  = "Bewoner in #{current_user.hoa_name}"

            = link_to "Pas mijn gegevens aan", edit_profile_path, class: 'ui positive button', style: "float: right; position: relative; top: -45px;"

          %br

          .ui.teal.ribbon.label
            Mijn gegevens
          %p
            = render 'personal_info'


          %br

          .ui.orange.ribbon.label
            Mijn meldingen  
          %p
            %table.ui.basic.table
              %thead
                %tr
                  %th Titel
                  %th Melding
              %tbody
                - current_user.alerts.each do |alert|
                  %tr
                    %td= alert.title
                    %td= alert.body
