- @active_tab = 'profile'
.row
  .small-7.small-centered.column
    .ui.raised.segment
      %h2.ui.black.header
        = image_tag(big_gravatar(current_user,65), class: 'ui circular image profile-image')

        .content
          = current_user.full_name
          .sub.header
            = "#{pretty_role(current_user)} in #{current_user.hoa_name}"

        / = link_to "Pas mijn gegevens aan", edit_profile_path, class: 'ui basic button', style: "float: right; position: relative;"

      %br

      .ui.teal.ribbon.label
        Mijn gegevens
      %p
        = render 'personal_info', user: current_user
