- @active_tab = 'profile'
.row
  .large-10.medium-10.small-12.medium-centered.column

    %br

    .row
      .small-12.column
        = link_to 'Pas mijn gegevens aan', root_path, class: 'ui top attached positive button'
        .ui.raised.attached.segment
          %h2.ui.black.header
            %i.user.icon
            .content
              = current_user.full_name
              .sub.header
                = "Bewoner in #{current_user.hoa_name}"

          %br

          .ui.teal.ribbon.label
            Mijn gegevens
          %p
            = render 'personal_info'


          %br

          .ui.orange.ribbon.label
            Mijn meldingen  
          %p
            %table.ui.basic.table
              %thead
                %tr
                  %th Titel
                  %th Melding
              %tbody
                - current_user.alerts.each do |alert|
                  %tr
                    %td= alert.title
                    %td= alert.body

        / # = link_to 'Pas mijn gegevens aan', root_path, class: 'ui bottom attached mini positive button'
