.ui.small.fluid.vertical.menu
  .header.item
    Admin

  = link_to 'Administration', '/superadmin', class: 'item'

  .item
    Current org: 
    %b
      = truncate(current_user.hoa.name, length: 10) if current_user.hoa

  .item
    Newest user:
    %b= link_to truncate(User.last.full_name, length: 10), user_path(User.last)

  .item
    Last deploy:

  .item
    .ui.label
      = User.count
    Users

  .item
    .ui.label= Hoa.count
    Organisations

  .ui.item
    .ui.fluid.selection.dropdown
      .text
        Switch Org
      %i.sitemap.icon
      .menu
        - Hoa.all.each do |hoa|
          = link_to hoa.name, change_hoa_path(hoa), class: 'item', method: :post
