- if signed_in?
  .ui.large.tiered.fluid.labeled.icon.menu.mainnav
    - if current_hoa
      = link_to organisation_url(subdomain: current_user.subdomain), class: (@active_tab == 'homepage' ? 'active item logo-navbar' : 'item logo-navbar') do
        %b.logo-nav Domici.ly

      - if current_hoa && policy(current_hoa).show?
        = link_to organisation_url(subdomain: current_hoa.subdomain_name), class: (@active_tab == 'home' ? 'active blue item' : 'blue item') do
          %i.list.icon
          Overzicht

      = link_to alerts_path, class: (@active_tab == 'alerts' ? 'active blue item' : 'blue item'), id: 'alerts' do
        %i.warning.icon
        Meldingen

      = link_to events_path, class: (@active_tab == 'events' ? 'active blue item' : 'blue item') do
        %i.calendar.icon
        Agenda

      .ui.icon.right.pointing.dropdown{ class: (@active_tab == 'add' ? 'active item' : 'item') }
        %i.user.icon
        = current_user.first_name
        .menu
          = link_to profile_path, class: 'item' do
            Mijn profiel
          = link_to help_path,  class: 'item', id: 'help' do
            Help
          = link_to destroy_user_session_path, class: 'item', id: 'sign_out', method: :delete do
            Log uit

      %a.blue.right.item#members{ href: '/organisation/members', class: (@active_button == 'members' ? 'active' : '')}
        %i.users.icon
        = truncate(current_hoa.name, length: 20)

    - else
      = link_to welcome_path, class: (@active_tab == 'welcome' ? 'active blue item' : 'blue item') do
        %i.cloud.icon
        Start met Domici.ly

  - if current_user.hoa && policy(current_hoa).show? && @quick_add_bar
    = render 'layouts/quick_add'
  - else
    .margin1rem

  .row
    .small-12.medium-12.medium-centered.column

      - flash.each do |name, msg|
        - if name == 'notice'
          .ui.small.floating.success.message
            %i.close.icon
            .content
              .header
                = msg
          %br
        - elsif name == 'alert'
          .ui.small.floating.error.message
            %i.close.icon
            .content
              .header
                = msg

          %br

        - else
          .ui.small.floating.warning.message
            %i.close.icon
            .content
              .header
                = msg
          %br

