- if signed_in?
  .row
    .small-12.medium-10.medium-centered.column
      .ui.secondary.pointing.menu
        %a.active.item{ href: '/' }
          %i.home.icon
          = current_user.hoa_name
        - if admin?
          %a.item{ href: '/superadmin'}
            %i.settings.icon
            Admin
        .right.menu
          .ui.dropdown.item
            = current_user.name
            %i.icon.dropdown
            .menu
              = link_to profile_path, class: 'item' do
                %i.user.icon
                Mijn profiel
              = link_to destroy_user_session_path, class: 'item', method: :delete do
                %i.sign.out.icon
                Log uit

      - flash.each do |name, msg|
        - if name == 'notice'
          .ui.small.success.message
            %i.close.icon
            .content
              .header
                = msg
        - elsif name == 'alert'
          .ui.small.error.message
            %i.close.icon
            .content
              .header
                = msg
        - else
          .ui.small.warning.message
            %i.close.icon
            .content
              .header
                = msg
