- if signed_in?
  %br
  .row
    .small-12.medium-12.medium-centered.column
      .ui.inverted.purple.menu.mainnav
        = link_to root_url(subdomain: current_user.hoa.subdomain_name), class: (@active_tab == 'homepage' ? 'active item' : 'item') do
          %b Domici.ly
        - if current_user.hoa
          .ui.icon.dropdown{ class: (@active_tab == 'add' ? 'active item' : 'item') }
            %i.plus.icon
            .menu
              = link_to 'Melding', new_alert_path, class: 'item'
              = link_to 'Afspraak', new_event_path, class: 'item'
              = link_to 'Bericht', dashboard_index_path, class: 'item'
              - if current_user.hoa && policy(current_user.hoa).show?
                = link_to 'Lid', new_user_invitation_path, class: 'item'
              - if policy(Announcement).new?
                = link_to 'Mededeling', new_announcement_path, class: 'item'
          %a.item{ href: '/dashboard', class: ('active' if @active_tab == 'home') }
            %i.unordered.list.icon
            / Home
            / .ui.orange.label
            /   12
          - if current_user.hoa && policy(current_user.hoa).show?
            = link_to hoa_path(current_user.hoa), class: (@active_tab == 'hoa' ? 'active green item' : 'green item') do
              %i.users.icon
              = current_user.hoa_name

          = link_to alerts_path, class: (@active_tab == 'alerts' ? 'active green item' : 'green item') do
            %i.warning.icon
            Meldingen

          = link_to events_path, class: (@active_tab == 'events' ? 'active green item' : 'green item') do
            %i.calendar.icon
            Agenda
        - else
          = link_to welcome_path, class: (@active_tab == 'welcome' ? 'active green item' : 'green item') do
            %i.cloud.icon
            Start met Domici.ly

        - if admin?
          %a.item{ href: '/superadmin'}
            %i.settings.icon
            Admin

        .right.menu
          = link_to help_path,  class: (@active_tab == 'help' ? 'active item' : 'item') do
            %i.question.icon
            Help
          = link_to profile_path, class: (@active_tab == 'profile' ? 'active item' : 'item') do
            %i.user.icon
            = current_user.name
          = link_to destroy_user_session_path, class: 'item icon', method: :delete do
            %i.sign.out.icon

      - flash.each do |name, msg|
        - if name == 'notice'
          .ui.small.floating.success.message
            %i.close.icon
            .content
              .header
                = msg
        - elsif name == 'alert'
          .ui.small.floating.error.message
            %i.close.icon
            .content
              .header
                = msg
        - else
          .ui.small.floating.warning.message
            %i.close.icon
            .content
              .header
                = msg
