- if signed_in?
  %br
  .row
    .small-12.medium-10.medium-centered.column
      .ui.inverted.purple.menu.mainnav
        .ui.icon.dropdown{ class: (@active_tab == 'add' ? 'active item' : 'item') }
          %i.plus.icon
          .menu
            = link_to 'Melding', new_alert_path, class: 'item'
            - if current_user.hoa && policy(current_user.hoa).show?
              = link_to 'Lid', new_user_invitation_path, class: 'item'
        %a.item{ href: '/', class: ('active' if @active_tab == 'home') }
          %i.inbox.icon
          / Home
          / .ui.orange.label
          /   12
        - if current_user.hoa && policy(current_user.hoa).show?
          = link_to hoa_path(current_user.hoa), class: (@active_tab == 'hoa' ? 'active green item' : 'green item') do
            %i.users.icon
            = current_user.hoa_name
        - if admin?
          %a.item{ href: '/superadmin'}
            %i.settings.icon
            Admin

        .right.menu

          = link_to profile_path, class: (@active_tab == 'profile' ? 'active item' : 'item') do
            %i.user.icon
            = current_user.name
          = link_to destroy_user_session_path, class: 'item icon', method: :delete do
            %i.sign.out.icon

      - flash.each do |name, msg|
        - if name == 'notice'
          .ui.small.success.message
            %i.close.icon
            .content
              .header
                = msg
        - elsif name == 'alert'
          .ui.small.error.message
            %i.close.icon
            .content
              .header
                = msg
        - else
          .ui.small.warning.message
            %i.close.icon
            .content
              .header
                = msg
